
body{
    margin: 0;
    background: linear-gradient(#0050B2,#585bf0,#84B6F4);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo{
    height: 5%;
    width: 5%;
}

.row{
    margin: 3%;
}

.col{
    background-color: #585bf0;

}

.card{
    background-color: #EFF9BF;
}

.card-img-bottom{
    margin: 1%;
    height: 30%;
    width: 50%;
}

.card-img-top{
    margin: 1%;
    height: 30%;
    width: 50%;
}


.ELIPSE{

    height: 60px;
    border-radius: 70%;
    background-color: #84B6F4;
    text-align: center;

}

.texto{

    font-style:oblique;
    font-size: xx-large;
    color: black;

}