body{
    margin: 0;
    background: linear-gradient(#0050B2,#585bf0,#84B6F4);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #A7E9AF;
    padding: 10px;
    height: 75px;
    align-items: center;
    
}

*{
    list-style: none;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #A7E9AF;
    margin: 0;
    padding: 0;
}

.logo{
    align-items: center;
    font-weight: 600;
    font-size: 28px;
    margin-right: 5px;
    margin-left: 25px;
    color: black;
}

.navegador{
    display: flex;
    list-style: none;
}

.navegador a{
    color: black;
    font-size: 20px;
    font-weight: 400;
    margin: 0 20px;
    text-decoration: none;
}

.usuario{
    display: flex;
    align-items: center;
}

.usuario a{
    margin-right: 25px;
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.desplegable {
    display: none;
}

.navegador li:hover .desplegable {
    display: block;
    position: absolute;
    background-color: #A7E9AF;
}

h1{
    display: flex;
    justify-content: center;
    font-style: italic;
}

a{
    text-decoration:  none;
}

.animales{
    display: flex;
    list-style: none;
    justify-content:space-around;
    
}

.IMAGEN1{

    height: 160px;
    width: 200px;
}

.CUADRO1{
    height: 100px;
    width: 200px;
    background: linear-gradient(#A7E9AF,#7fe48b,#EFF9BF);
}

.ELIPSE{
    height: 100px;
    width: 200px;
    border-radius: 10%;
    background-color: #EFF9BF;
}