body{
    margin: 0;
    background-color: #EFF9BF;
}


header{
    display: flex;
    justify-content: space-between;
    background-color: #A7E9AF;
    padding: 10px;
    height: 75px;
    align-items: center;
    
}

a{
    text-decoration:  none;
}

ul{

    display: flex;
    list-style: none;
    justify-content:space-around;
}

.TITULO{

    height: 50px;
    width: 350px;
    background: linear-gradient(#A7E9AF,#8beccf,#84B6F4);
}

.CUADRO{
    height: 100px;
    width: 350px;
    background: linear-gradient(#A7E9AF,#8beccf,#84B6F4);
}


.SUBTITULO{
    font-size: xx-large;
    height: 80px;
    width: 350px;
    background: linear-gradient(#A7E9AF,#8beccf,#84B6F4);
}

.CHECK{
    font-size:x-large;
}