body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #A7E9AF;
    display: flex;
    height: 100vh; /*Para colocarlo en el medio*/
    justify-content: center;
    align-items: center;
}

div{
    width: 100%;
    max-width: 300px;
    background-color: white;
    padding: 10px 10px;
    border-radius: 5px;
}

div .material-symbols-outlined{
    margin-left: 270px;
}

div h4{
    font-size: 25px;
    font-weight: 500;
    padding: 10px;
    position: relative;
    color: black;
}

div h4::before{
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 270px;
    background-color: #84B6F4;
}

div input[type="email"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #84B6F4;
    background: transparent;
    color: black;
    height: 30px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 20px;
}

div input[type="submit"] {
    height: 40px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;    
    background-color: #84B6F4;
    color: white;
}

div p{
    text-align: center;
}

.material-symbols-outlined{    
font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 0,
  'opsz' 48,
}
